Source/WeiXin/Samples/obj
Source/WeiXin/Samples/bin
Source/WeiXin/Samples/Samples.csproj.user
Source/WeiXin/Test/obj
Source/WeiXin/Test/bin
Source/WeiXin/TestResults
Source/WeiXin/WeiXin.Core/obj
Source/WeiXin/WeiXin.Core/bin
Source/WeiXin/WeiXin.Core/WeiXin.Core.csproj.user
Source/WeiXin/WeiXin.Core.v12.suo